* {
    margin: 0;
    padding: 0;
}
body, html{
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://th.bing.com/th/id/R.ccb580acf4f95f5357cf8eb3ce16ff35?rik=D9Ja6RgfsF0j9g&riu=http%3a%2f%2fsheencity-bj.oss-cn-hangzhou.aliyuncs.com%2fofficial-site%2fpictures%2f2014-09%2f01%2fa77afe1c234db932c40f265859ad2776.jpg&ehk=55TsiSP2MA76SwA2eVn6XoVk3ZwTRT0MTwT8m5pJcJ8%3d&risl=&pid=ImgRaw&r=0');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.form-login {
    width: 10cm;
    height: 10cm;
    text-align: center;
    background-color: rgba(156, 109, 220, 0.78);
    border-radius: 8px;
    border: #54007a 10px solid;
}
h1 {
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label {
    display: block;
    font-size: 25px;
    width: 9cm;
    border-radius: 8px;
    background-color: rgb(212, 176, 232);
}
input {
    width: 50%;
    height: 0.5em; /* 调整输入框的高度 */
    border: 1px solid #ccc;
    border-radius: 5px; /* 圆角 */
    padding: 0.5em; /* 调整输入框内边距 */
    font-size: 1em; /* 调整字体大小 */
    margin: 10px; /* 调整底部外边距 */
}
button {
    margin-top: 25px;
    width: 9cm;
    height: 50px;
    font-size: 30px;
    border-radius: 8px;
    background-color: rgba(174, 119, 237, 1);
}
