* {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    background-image: url('https://th.bing.com/th/id/R.ccb580acf4f95f5357cf8eb3ce16ff35?rik=D9Ja6RgfsF0j9g&riu=http%3a%2f%2fsheencity-bj.oss-cn-hangzhou.aliyuncs.com%2fofficial-site%2fpictures%2f2014-09%2f01%2fa77afe1c234db932c40f265859ad2776.jpg&ehk=55TsiSP2MA76SwA2eVn6XoVk3ZwTRT0MTwT8m5pJcJ8%3d&risl=&pid=ImgRaw&r=0');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 30px 0;
}
h1 {
    border-radius: 8px;
    background-color: rgb(110, 213, 38, 1);
    width: 10cm;
}
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.userinfo, .addressinfo {
    text-align: center;
    font-size: 30px;
    background-color: rgb(255, 255, 255, 0.75);
    width: 12cm;
    height: 15cm;
    padding: 20px;
    border-radius: 10px;
    border: white 10px solid;
}
.pay_a {
    font-size: 30px;
    border-radius: 10px;
    border: #8e44ad 10px solid;
    background-color: rgb(200, 149, 229, 0.95);
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
span {
    display: block;
    text-align: center;
}
