<!DOCTYPE html>
<html lang="en">
<head>
    <title>车库管理员登陆</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ static('login.css') }}">
</head>
<body>
<div class="form-login">
    <h1>网络管理员登陆</h1>
    <br>
    <form action="{{ url('network_info') }}">
        {{ csrf_input }}
        <label>
            账户：<input type="text" name="userid">
        </label>
        <br>
        <label>
            密码：<input type="password" name="password">
        </label>
        <br>
        <button type="submit" formmethod="post">提交</button>
    </form>
</div>
</body>
</html>